<div class="card">
    <div class="card-body">
      <h5 class="card-title">About</h5>
      <p class="card-text">
        Port Scanner is a simple tool for mapping open ports on a host 
        with <a href="https://nmap.org/">nmap</a>. 
        </p> 
        <p class="card-text">
        The user interface is written in <a href="https://angular.io/">Angular</a>,
        the backend is written in <a href="https://golang.org/">Go</a>, 
        and the data is presisted in <a href="https://www.sqlite.org/">SQLite</a>. 
        </p>
      <a class="btn btn-outline-secondary" routerLink="/" role="button">home</a>
    </div>
</div>